/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 /* You can override the default Infima variables here. */
 :root {
   /* User-defined base primary color */
   --ifm-color-primary: #0784b5;
 
   /* Calculated shades for the light theme based on the original ratios */
   --ifm-color-primary-dark: #0676a5; /* Slightly darker */
   --ifm-color-primary-darker: #066e9a; /* Even darker */
   --ifm-color-primary-darkest: #05597e; /* Darkest */
   --ifm-color-primary-light: #0893c5; /* Slightly lighter */
   --ifm-color-primary-lighter: #089ac9; /* Lighter */
   --ifm-color-primary-lightest: #09afdb; /* Lightest */
 
   --ifm-code-font-size: 95%;
   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
 }
 
 /* For readability concerns, you should choose a lighter palette in dark mode. */
 [data-theme='dark'] {
   /* Using your provided dark variant for the dark theme base primary */
   --ifm-color-primary: #9bd4e4;
 
   /* Calculated shades for the dark theme based on the original ratios */
   --ifm-color-primary-dark: #8fc7d9;
   --ifm-color-primary-darker: #89c1d5;
   --ifm-color-primary-darkest: #72a3b3;
   --ifm-color-primary-light: #a7dde9;
   --ifm-color-primary-lighter: #aedfee;
   --ifm-color-primary-lightest: #c3e9f3;
 
   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
 }

 * {
     font-family: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
 }
 
 /* Override search widget */
 .aa-DetachedSearchButton, .aa-DetachedSearchButtonIcon, .aa-Form, .aa-SubmitIcon, .aa-ClearIcon, .aa-Input, .aa-Input::placeholder {
     color: var(--ifm-color-primary) !important;
     border-color: var(--ifm-color-primary) !important;
 }